@use "./base/variable" as v;
.footer {
  padding: 3.2rem 0 3.1rem;
  background: #333;
  &__inner {
    padding: 0 5rem;
    @include v.sm {
      padding: 0 2%;
    }
  }
  &__copy {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }
}
